.page-footer {
  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    p {
      font-family: "Stylish", sans-serif;
      text-align: center;
      a {
        color: var(--color-secondary);
      }
    }
  }

  position: relative;
  padding: 3rem 1rem;
  background-position: center -34px;
  color: var(--color-light);

  p:first-child {
    margin-top: 3rem;
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p a {
    color: inherit;
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}
