.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 10vh;
  padding: 1.25rem;
  z-index: 1;

  h4 {
    margin: 0;
    color: var(--color-secondary);
    text-align: center;
  }

  .container {
    display: grid;
    justify-items: center;
    grid-gap: 1rem;

    > a {
      color: var(--color-primary);
      min-height: 2em;
      background: var(--color-primary-alt);
      background: linear-gradient(
        90deg,
        var(--color-primary-alt) 0%,
        var(--color-secondary) 100%
      );
      border-radius: 40px;
      filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.3));
    }
  }

  ul {
    color: var(--color-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      padding: 0.45em;
      span {
        a {
          color: var(--color-secondary);
        }
      }

      span:nth-child(1) {
        width: auto;
        margin-right: 0.25em;
        font-weight: var(--font-weight-strong);
      }

      span:nth-child(2) {
        flex-grow: 1;
        word-break: break-word;
      }
    }
  }

  @media (min-width: 180ch) {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 35ch;
    margin-bottom: 0;
    border-radius: 50px;
    background-color: var(--color-light);
    box-shadow: 0 2px 5px rgba(color(primary), 0.15);

    ul {
      justify-content: unset;

      li {
        padding: 0;

        span:nth-child(1) {
          width: 8ch;
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .profile {
    display: flex;
    justify-content: center;
    .container {
      padding: 5% 15% 5% 15%;
      max-width: 100%;
      background-color: var(--color-primary);
      border-radius: 50px;
      ul {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .profile {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .profile {
    width: 95%;
  }
  .container {
    li {
      font-size: 1.5em;
    }
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .profile {
    padding: unset;
    margin: unset;
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .profile {
    font-size: 0.8em;
  }
}
